body{
  background-image: url("image4.jpg");
  background-position: center;
  background-attachment:scroll;
  background-repeat: no-repeat;
  border-image-width: auto;
  margin: 0px 0px 0px 0px;
}
a:hover{
  color: white;
}
h2{
  color: orange;
}
.hello{
  color: orange;
  text-align: center;
}
.top-image{
  width: 50%;
  margin: 0px;
}
.Bascket{
  height: 300px;
  width: 300px;
}

.name{
  font-family: cursive;
  font-size: 60px;
  text-align: center;
  margin-top: 300px;

  color: orange;
  padding: 0px;
}
.work{
  font-size: 40px;
  margin: 10px;
  color: orange;
  font-family: sans-serif;
}
.span{
  font-family: sans-serif;
  text-decoration: underline;
  background-color:orange;
  color: black;

}
.profile{
  margin-top: 10px;
  height: 300px;
  width: 300px;
}
.para{
  font-size: 20px;
  line-height: 2;
  width: 40%;
  margin: auto;
}
.skills{
  background-color: orange;
}
.middle-container{
    background-color: #1b1a17;
  text-align: center;
  margin-top: 200px;
}
.skills-summary
{
  font-size:20px;
  color: white;
}
.School{
  font-size: 20px;
}
.heading
{
  color: orange;
  margin-top: 40px;
}
.webphoto{
  height: 300px;
  width: 300px;
}
.parawebdev{
  background-color: orange;
}
.para
{
  color: #f0e3ca;
}
.college{
  color: #f0e3ca;
  font-size: 20px;
  text-align: center;
}
.horizontal{
  border-style:solid;
  color: orange;
  width:20%;
border-width: 1px;
}
.contactdetails
{
  background-color: orange;
  padding-top: 20px;
  margin-bottom: 0px;

}
.facebook{
  height:40px;
  width:40px;
  position: relative;
  right: 50px;
}
facebook:hover{
color: orange;
}
.linkedin{
  height:40px;
  width:40px;
  position: relative;
  left: 40px;
}
.twitter{
  height:40px;
  width:40px;
  position: relative;
  right: 10px;
}
.downarray{
  height:60px;
  width:60px;
}
.touch{
  color: orange;
  margin-top: 40px;
}
.copyright{
  font-size: 25px;
}
.mailid{
  font-size: 25px;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.middle-container{
    background-color: #1b1a17;
}
ul {
  display: table;
  margin: 0 auto;
}
